.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.App > * {
  grid-column: col-start / span 12;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: grid;
  background-color: purple;
  color: white;
  /* justify-items: center; */
  align-items: center;
  /* grid-row: 1; */
  /* grid-column: 1/12;  */
  /* width: auto; */



}


.Header-logo {
  display: block;
  margin: 0; 
  max-height: 40px;
  max-width: 40px;
  grid-row: 1;
  grid-column: 1;
  
 
  
}

.Header-title {
  grid-row: 1;
  grid-column: 1;
  margin: auto;
}

.add-task-button {
  grid-row: 1;
  grid-column: 12/12;
  margin: auto;
}
